﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (Session["user_login"] == null)
    {
        Response.Redirect("~/Home/Index", false);
    }
}
@model ChannelVN.CMS.MvcInit.Models.InitDb.InitDataRedisESModel

<div class="container-fluid">

    <!-- Page Heading -->
    <h3 class="h3 mb-4 text-gray-800">Sync Data</h3>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-4">
                <label for="btnAction1">Kiểu chuyển đổi</label>
            </div>
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.InitType,
                     new List<SelectListItem> {
                         new SelectListItem { Value = "FromSqlToRedis" , Text = "SQL to Redis" },
                         new SelectListItem { Value = "FromSqlToEs" , Text = "SQL to ES" },
                 }, new { @id = "drdinittype", @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6">

            <!-- Circle Buttons -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Nhập thông tin</h6>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                        <form role="form" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label for="inputNameTable">Tên bảng</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(model => model.NameTable,
                                                new List<SelectListItem> {
                                                    new SelectListItem { Value = "news" , Text = "news - REDIS" },
                                                    new SelectListItem { Value = "news_check_duplicate, " , Text = "news_check_duplicate - REDIS" },
                                                    new SelectListItem { Value = "user" , Text = "user - REDIS" },
                                                    new SelectListItem { Value = "userpermission" , Text = "userpermission - REDIS" },
                                                    new SelectListItem { Value = "zone" , Text = "zone - REDIS" },
                                                    new SelectListItem { Value = "zonevideo" , Text = "zonevideo - REDIS" },
                                                    new SelectListItem { Value = "newsauthor" , Text = "newsauthor - REDIS" },
                                                    new SelectListItem { Value = "video" , Text = "video - REDIS" },
                                                     new SelectListItem { Value = "discussiontopic" , Text = "discussiontopic - REDIS" },
                                                    new SelectListItem { Value = "quote" , Text = "quote - REDIS" },
                                                    new SelectListItem { Value = "characterinfo" , Text = "characterinfo - REDIS" },
                                                    new SelectListItem { Value = "tag" , Text = "tag - REDIS" },
                                                    new SelectListItem { Value = "topic" , Text = "topic - REDIS" },
                                                    new SelectListItem { Value = "thread" , Text = "thread - REDIS" },
                                                    new SelectListItem { Value = "vote" , Text = "vote - REDIS" },
                                                    new SelectListItem { Value = "playlist" , Text = "playlist - REDIS" },
                                                     new SelectListItem { Value = "videochannel" , Text = "videochannel - REDIS" },
                                                    new SelectListItem { Value = "streamitem" , Text = "streamitem - REDIS" },
                                                    new SelectListItem { Value = "newsextension" , Text = "newsextension - REDIS" },
                                                    new SelectListItem { Value = "news" , Text = "news - ElasticSearch" },
                                                    new SelectListItem { Value = "user" , Text = "user - ElasticSearch" },
                                                    new SelectListItem { Value = "video" , Text = "video - ElasticSearch" },
                                                    new SelectListItem { Value = "discussion_topic" , Text = "discussion_topic - ElasticSearch" },
                                                    new SelectListItem { Value = "quote" , Text = "quote - ElasticSearch" },
                                                     new SelectListItem { Value = "characterinfo" , Text = "characterinfo - ElasticSearch" },
                                                    new SelectListItem { Value = "tag" , Text = "tag - ElasticSearch" },
                                                    new SelectListItem { Value = "thread" , Text = "thread - ElasticSearch" },
                                                    new SelectListItem { Value = "vote" , Text = "vote - ElasticSearch" },
                                                    new SelectListItem { Value = "newsauthor" , Text = "newsauthor - ElasticSearch" },
                                                    new SelectListItem { Value = "playlist" , Text = "playlist - ElasticSearch" },
                                                    new SelectListItem { Value = "videochannel" , Text = "videochannel - ElasticSearch" },
                                                    new SelectListItem { Value = "streamitem" , Text = "streamitem - ElasticSearch" },
                                                    new SelectListItem { Value = "photoalbum" , Text = "photoalbum - ElasticSearch" },
                                                    new SelectListItem { Value = "photo" , Text = "photo - ElasticSearch" },
                                            }, new { @id = "inputNameTable", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label for="startDate1">Ngày bắt đầu</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="input-group" id="datetimepicker">
                                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @id = "startDate1", @class = "form-control datePicker" } })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label for="endDate1">Ngày kết thúc</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="input-group" id="datetimepicker">
                                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @id = "endDate1", @class = "form-control datePicker" } })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label for="startPage1">Trang bắt đầu</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(model => model.StartPage, new { @id = "startPage1", @class = "form-control", @type = "number", @autofocus = "autofocus" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label for="pageSize1">Số bản ghi</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(model => model.PageSize, new { @id = "pageSize1", @class = "form-control", @type = "number", @autofocus = "autofocus" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label for="btnAction1">Action</label>
                                        </div>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(model => model.Action,
                                                 new List<SelectListItem> {
                                                     new SelectListItem { Value = "start" , Text = "Start" },
                                                     new SelectListItem { Value = "stop" , Text = "Stop" },
                                                     new SelectListItem { Value = "noaction" , Text = "No Action" }
                                             }, new { @id = "drdAction", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <button id="btn-calldata" class="btn btn-primary">Gửi lên</button>
                                <button id="btn-showDemo" class="btn btn-info">Xem trước</button>
                                <hr>
                            </fieldset>
                        </form>
                    }
                </div>
            </div>

        </div>

        <div class="col-lg-6">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Dữ liệu xem trước</h6>
                </div>
                <div class="card-body">
                    <div id="jsonViewDemo"></div>
                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Kết quả</h6>
                </div>
                <div class="card-body">
                    <p>Hiển thị kết quả sau khi sync</p>
                    @*<div>
                            <button type="button" class="load-json">Load JSON</button>
                        </div>*@
                    <h5>Output:</h5>
                    <div id="json"></div>
                </div>
            </div>
        </div>
    </div>
</div>

