@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .rs-navbar > .rs-navbar-right {
    position: absolute;
    top: 3px;
    right: 10px;
  }

  .rs-nav.rs-nav-subtle.rs-navbar-nav.rs-nav-horizontal {
    width: 100%;
  }
  .width-step{
    width: 100%;
  }
  .show-grid{
    width: 100%;
  }
}