@media only screen and (min-width: 768px) and (max-width: 992px) {
  .rs-navbar > .rs-navbar-right {
    position: absolute;
    top: 3px;
    right: 10px;
  }
  .width-step{
    width: 100%;
  }
  .show-grid{
    width: 100%;
  }
}