﻿

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
    <title>Đăng nhập hệ thống</title>
    <!-- Bootstrap Core CSS -->
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- page css -->
    <link href="/assets/css/pages/login-register-lock.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- You can change the theme colors from here -->
    <link href="/assets/css/colors/default-dark.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Admin Pro</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper">
        <div class="login-register" style="background-image:url(/assets/images/background/login-register.jpg);">
            <div class="login-box card">
                <div class="card-body">
                    <form class="form-horizontal form-material" id="loginform" action="#">
                        <h3 class="box-title m-b-20">Sign In</h3>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input id="user_name" class="form-control" type="text" required="" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input id="password" class="form-control" type="password" required="" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="checkbox checkbox-info pull-left p-t-0">
                                    <input id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue">
                                    <label for="checkbox-signup"> Remember me </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button id="btnLogin" class="btn btn-block btn-lg btn-info btn-rounded" type="button">Log In</button>
                            </div>
                            <div class="col-xs-12 p-b-20">
                                <label id="lbl_message"></label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <div id="test"></div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!--Custom JavaScript -->
    <script type="text/javascript">
        function revokeToken(token) {
            //var revokeUrl = "http://localhost:64623/api/v1/user/get";
            var revokeUrl = "http://api-zb.vnsolution.com.vn/api/v1/user/get";
            var xhr = new XMLHttpRequest();
            xhr.onload = function (e) {
                console.log(xhr.status);
                console.log(xhr.response);
                var response = JSON.parse(xhr.response);
                document.getElementById("message").innerText = response.result + ":" + response.error;
            }
            xhr.open("GET", revokeUrl);
            var data = {
                //friendly_name: document.getElementById("friendly_name").value,
                //given_name: document.getElementById("given_name").value,
                //address: document.getElementById("address").value,
            };
            var body = "";
            for (var key in data) {
                if (body.length) {
                    body += "&";
                }
                body += key + "=";
                body += encodeURIComponent(data[key]);
            }
            xhr.setRequestHeader("Authorization", "Bearer " + token);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send(body);
        }

        $(function () {
            $(".preloader").fadeOut();
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        // ==============================================================
        // Login and Recover Password
        // ==============================================================
        $('#to-recover').on("click", function () {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });

        $('#user_name,#password').keypress(function (e) {
            if (e.keyCode == 13)
                $('#btnLogin').click();
        });

        $('#btnLogin').on("click", function () {


            var host = window.location.hostname;
            //var baseUrl = "http://localhost:58626/connect/";
            var baseUrl = "http://login-zb.vnsolution.com.vn/connect/";

            //switch (host) {
            //    case "app.dpvg.vn"://dev env
            //        baseUrl = "http://login-vg.vnsolution.com.vn/oauth2/connect/";
            //        break;

            //    case "sale.duocphamvinhgia.vn"://production
            //        baseUrl = "http://login.duocphamvinhgia.vn/oauth2/connect/";
            //        break;

            //    case "app.duocphamvinhgia.vn"://staging
            //        baseUrl = "http://login-vg.vnsolution.com.vn/oauth2/connect/";
            //        break;

            //    case "app-vg.vnsolution.com.vn"://staging
            //        baseUrl = "http://login-vg.vnsolution.com.vn/oauth2/connect/";
            //        break;
            //}

            var tokenUrl = baseUrl + "token";

            var client_id = "ro.client";
            var client_secret = "secret";

            var uid = document.getElementById("user_name").value;
            var pwd = document.getElementById("password").value;

            if (uid == '' || pwd == '') {
                alert('Please fill info');

                return;
            }

            $('.preloader').fadeIn();

            var xhr = new XMLHttpRequest();
            xhr.onload = function (e) {
                $('.preloader').fadeOut();
                $('#lbl_message').text('');
                $('#lbl_message').fadeOut();

                var response_data = JSON.parse(xhr.response);
                console.log(response_data);
                if (xhr.status === 200 && response_data.access_token) {
                    //save to local storage
                    localStorage.setItem("token", JSON.stringify(response_data));

                    //back to home
                    //window.location.href = "/";
                    revokeToken(response_data.access_token);
                    $('#lbl_message').text(JSON.stringify(response_data));
                    $('#lbl_message').fadeIn();
                    //$("#test").text(JSON.stringify(response_data));
                }
                else {
                    $('#lbl_message').text('Đăng nhập không thành công. Xem tại tài khoản');
                    $('#lbl_message').fadeIn();
                }
            }
            xhr.open("POST", tokenUrl);
            var data = {
                username: uid,
                password: pwd,
                grant_type: "password",
                scope: "openid offline_access zb_api",
                client_id: client_id,
                client_secret: client_secret
            };
            var body = "";
            for (var key in data) {
                if (body.length) {
                    body += "&";
                }
                body += key + "=";
                body += encodeURIComponent(data[key]);
            }
            console.log(body);
            xhr.setRequestHeader("Authorization", "Basic " + btoa(client_id + ":" + client_secret));
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send(body);
        });
    </script>
</body>
</html>
