﻿@{
    Layout = null;
}
@model ChannelVN.CMS.MvcInit.Models.InitDb.AccountInitModel

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tools IMSV21 - Login</title>

    <!-- Custom fonts for this template-->
    <link href="~/lib/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/lib/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/lib/json-viewer-master/json-viewer.css" rel="stylesheet" />

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    @using (Html.BeginForm())
                                    {
                                        @*@Html.AntiForgeryToken()*@
                                        @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                                        <form class="user" role="form" method="post">
                                            <input name="__RequestVerificationToken" type="hidden" value="DNbDMrzHmy37GPS6IFH-EmcIh4fJ2laezIrIEev5f4vOhsY9T7SkH9-1b7GPjm92CTFtb4dGqSe2SSYrlWSNEQG1MUlNyiLP1wtYli8bIh41" />
                                            <fieldset>
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.Username, new { @id = "inputEmail", @class = "form-control", @placeholder = "Tài khoản", @autofocus = "autofocus" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.Password, new { @id = "inputPassword", @class = "form-control", @placeholder = "Mật khẩu", @type = "password", @autofocus = "autofocus" })

                                                </div>
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox small">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck">
                                                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                                                    </div>
                                                </div>
                                                <button id="btn-login" class="btn btn-primary btn-user btn-block">
                                                    Login
                                                </button>
                                                <hr>
                                            </fieldset>
                                        </form>
                                        <hr>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/lib/vendor/jquery/jquery.min.js"></script>
    <script src="~/lib/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/lib/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/lib/js/sb-admin-2.min.js"></script>
    <script src="~/lib/js/LoginController.js"></script>
</body>

</html>
