.message {
	display: flex;
	flex-direction: column;
}

.timestamps {
	margin-top: 10px;
	display: block;
	/* font-weight: 500; */
	margin: 12px 0 12px 20px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, .40);
	font-size: 12px;
	margin: 15px 0;
	text-align: center;
	margin-bottom: 10px;
}

.message .bubble-container {
	font-size: 14px;
	display: flex;
}

.message.mine .bubble-container {
	justify-content: flex-end;
}

.message.start .bubble-container .bubble {
	/* margin-top: 10px; */
	border-top-left-radius: 20px;
}

.message.end .bubble-container .bubble {
	border-bottom-left-radius: 20px;
	/* margin-bottom: 10px; */
}

.message.mine.start .bubble-container .bubble {
	margin-top: 10px;
	border-top-right-radius: 20px;
}

.message.mine.end .bubble-container .bubble {
	border-bottom-right-radius: 20px;
	margin-bottom: 10px;
}

.message .bubble-container .bubble {
	margin: 1px 0px;
	background: #f4f4f8;
	padding: 10px 15px;
	border-radius: 20px;
	max-width: 75%;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.message.mine .bubble-container .bubble {
	background: #007aff;
	color: white;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.image-message{
	padding: 10px 15px;
	border-radius: 20px;
	margin-bottom:20px;
}
.first-messager{
    border-bottom-right-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-top-right-radius: 20px;
    background: #007aff;
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px 15px;
    float: right;
}