﻿@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/creative.min.css" rel="stylesheet">
</head>
<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Home page</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Architechture</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">Standard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">
                        <strong>@ViewBag.Title AUTHORIZATION SERVER</strong>
                    </h1>
                    <hr>
                </div>
                <div class="col-lg-8 mx-auto">
                    <p class="text-faded2 mb-5">This is the gateway for authentication with the industry standard of @ViewBag.Title</p>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
                </div>
            </div>
        </div>
    </header>
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading text-white">@ViewBag.Title AUTHORIZATION SERVER</h2>
                    <hr class="light my-4">
                    <p class="text-faded mb-4">@ViewBag.Title AUTHORIZATION SERVER is the authentication gateway of OAuth2 Industry Standard. This is where the authorization card is issued to consume @ViewBag.Title's data services</p>
                    <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">@ViewBag.Title SYSTEM ARCHITECHTURE</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-8 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-lock text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">Authorization Server</h3>
                        <p class="text-muted mb-0">Provide authentication and security services for all clients and users.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa fa-cubes text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">Api Server</h3>
                        <p class="text-muted mb-0">Provide api to consume private data services for the authorized clients and users!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-tablet text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">Client Apps</h3>
                        <p class="text-muted mb-0">Many type of applications like Mobile apps, Desktop apps and Web apps can be integrated with system.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="p-0" id="portfolio">
        <div class="container-fluid p-0">
            <div class="row no-gutters popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/companys/Google.jpg">
                        <img class="img-fluid" src="img/portfolio/companys/Google.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Google
                                </div>
                                <div class="project-name">
                                    Using OAuth2 For Authorization
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/companys/Facebook.jpg">
                        <img class="img-fluid" src="img/portfolio/companys/Facebook.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Facebook
                                </div>
                                <div class="project-name">
                                    Using OAuth2 For Authorization
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/img/portfolio/companys/Microsoft.jpg">
                        <img class="img-fluid" src="img/portfolio/companys/Microsoft.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Microsoft
                                </div>
                                <div class="project-name">
                                    Using OAuth2 For Authorization
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/img/portfolio/companys/Amazon.jpg">
                        <img class="img-fluid" src="img/portfolio/companys/Amazon.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Amazon
                                </div>
                                <div class="project-name">
                                    Using OAuth2 For Authorization
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/companys/Twitter.jpg">
                        <img class="img-fluid" src="img/portfolio/companys/Twitter.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Twitter
                                </div>
                                <div class="project-name">
                                    Using OAuth2 For Authorization
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/img/portfolio/companys/LinkIn.jpg">
                        <img class="img-fluid" src="img/portfolio/companys/LinkIn.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    LinkIn
                                </div>
                                <div class="project-name">
                                    Using OAuth2 For Authorization
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-dark text-white">
        <div class="container text-center">
            <h2 class="mb-4">All most largest companies use this industry standard for authentication</h2>
            <a class="btn btn-light btn-xl sr-button" target="_blank" href="http://vnsolution.com.vn">Get Start With Us Now!</a>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="my-4">
                    <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center">
                    <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
                    <p>0944-195-668</p>
                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
                    <p>
                        <a href="mailto:info@vnsolution.com.vn">info@vnsolution.com.vn</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>
</body>
</html>
