.slideshow {
	opacity: 1;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.search-icon, .search-close {
	border: 0;
}

.search-icon:hover, .search-icon:focus, .search-close:hover, .search-close:focus {
	outline: 0;
}

.search-box {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	top: 100%;
	left: 0;
	height: 0;
	width: 100%;
	padding: 0 80px;
	z-index: 10;
	background: #fff;
	overflow: hidden;
	transition: 0.2s cubic-bezier(0, 0, 0, 1);
}

.position-relative {
	position: relative;
}

.overflow-hidden {
	overflow: hidden;
}

.display-none {
	display: none;
}

.navbar {
	background: #fff;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 100%;
	padding: 0 80px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 58px;
	font-size: .9em;
	z-index: 1000;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: 0.2s cubic-bezier(0, 0, 0, 1);
}

.navbar li {
	list-style: none;
	padding: 4px 0;
	margin-top: 0;
}

.navbar a {
	color: #828282;
	border-radius: 3px;
	padding: 0 20px;
}

.navbar .search-icon, .navbar .search-box-icon {
	font-size: 14px;
}

.navbar .search-icon {
	padding: 10px;
	margin-right: 6px;
}

.navbar .navbar-left .navbar-brand {
	height: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
}

@media all and (max-width: 992px) {
	.navbar .navbar-left .navbar-brand .nav-logo {
		height: 30px;
	}
}

@media all and (max-width: 992px) {
	.navbar .navbar-left .navbar-brand .wordmark {
		display: none;
	}
}

.navbar .mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: #fff;
	padding: 30px;
	padding-bottom: 120px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	font-size: 1.2em;
}

.navbar .mobile-menu ul {
	margin: 0;
	padding: 0;
	margin-left: 0;
}

.navbar .mobile-menu ul .sign-up-container {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	padding: 6px;
	background: #fff;
}

.navbar .mobile-menu ul .sign-up-container li {
	width: 100%;
	padding: 0;
	padding-top: 6px;
	display: -ms-flexbox;
	display: flex;
}

.navbar .mobile-menu ul .sign-up-container li:not(:last-child) {
	margin-right: 6px;
}

.navbar .mobile-menu ul .sign-up-container li .sign-up {
	width: 100%;
	background: #548;
	color: #fff;
	font-size: .9em;
	text-align: center;
}

.navbar .mobile-menu li {
	margin-top: 20px;
	opacity: 0;
	-ms-transform: translateY(40px);
	transform: translateY(40px);
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
}

.navbar .mobile-menu li a {
	padding: 12px 18px;
	width: 100%
}

.navbar .mobile-menu li a:hover {
	text-decoration: none;
	background: #f2f2f2;
}

.navbar .mobile-menu li .main-nav-link:not(.sign-up) {
	color: #548;
	font-weight: 700;
	font-size: 30px;
	width: 100%
}

.navbar .mobile-menu li .dropdown {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-top: 10px;
}

.navbar .mobile-menu li .dropdown .nav-label {
	font-size: 16px;
	margin: 20px 0;
	margin-bottom: 10px;
}

.navbar .mobile-menu li .dropdown a {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 400;
	color: #828282;
}

.navbar .mobile-menu li .dropdown a .link-icon {
	height: 40px;
	margin-right: 20px;
}

.navbar .mobile-menu li .dropdown a .nav-text {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-pack: center;
	justify-content: center;
}

.navbar .mobile-menu li .dropdown a .nav-text p {
	margin: 0;
}

.navbar .mobile-menu li .dropdown a .nav-text .link-title {
	color: #548;
	font-weight: 600;
}

.navbar .mobile-menu li .dropdown a .nav-text .link-description {
	font-size: 16px;
	font-weight: 400;
	color: #828282;
}

.navbar .mobile-menu li .dropdown a:hover {
	color: #548;
}

.navbar .mobile-menu .search-icon {
	display: none;
}

.navbar .mobile-menu .exit-icon-container {
	width: 34px;
	margin-left: auto;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	border: 0;
	z-index: 100;
}

.navbar .mobile-menu .exit-icon-container img {
	width: 100%
}

.navbar .mobile-icons {
	display: none;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
}

.navbar .mobile-icons .mobile-icon {
	padding: 12px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 40px;
	border: 0;
	margin-left: 10px;
}

.navbar .mobile-icons .mobile-icon .icon-bar {
	height: 2px;
	width: 24px;
	border-radius: 1000px;
	background: #548;
}

.navbar .mobile-icons .mobile-icon .icon-bar:not(:first-child) {
	margin-top: 5px;
}

@media all and (max-width: 992px) {
	.navbar .mobile-icons {
		display: -ms-flexbox;
		display: flex;
	}
}

.navbar .navbar-right {
	height: 100%
}

.navbar .navbar-right ul {
	height: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin: 0;
}

.navbar .navbar-right ul .menu-item-active a {
	color: #548;
}

.navbar .navbar-right ul li {
	height: 100%;
	position: relative;
	overflow: hidden;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
}

.navbar .navbar-right ul li a, .navbar .navbar-right ul li .search-icon {
	border-radius: 3px;
}

.navbar .navbar-right ul li a:hover, .navbar .navbar-right ul li a:focus, .navbar .navbar-right ul li .search-icon:hover, .navbar .navbar-right ul li .search-icon:focus {
	text-decoration: none;
	/* background: #f2f2f2;
    color: #548 !important; */
}

.navbar .navbar-right ul li .sign-up {
	width: 100%;
	height: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 600;
	padding: 0 10px;
}

.navbar .navbar-right ul li .main-nav-link:not(.sign-up) {
	width: 100%;
	height: 100%;
	padding: 0 20px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
}

@media all and (max-width: 1200px) {
	.navbar .navbar-right ul li .main-nav-link:not(.sign-up) {
		padding: 0 10px;
	}
}

.navbar .navbar-right ul li:hover, .navbar .navbar-right ul li:focus-within {
	overflow: visible;
}

.navbar .navbar-right ul li:hover .dropdown, .navbar .navbar-right ul li:focus-within .dropdown {
	opacity: 1;
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.navbar .navbar-right ul li .dropdown-wide {
	width: 500px;
	max-width: 500px;
}

.navbar .navbar-right ul li .dropdown {
	position: absolute;
	-ms-transform: translateY(3px);
	transform: translateY(3px);
	top: 100%;
	left: 0;
	min-width: 240px;
	padding: 10px;
	background: #fff;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	opacity: 0;
	-ms-transform: translateY(20px);
	transform: translateY(20px);
	transition: 0.2s cubic-bezier(0, 0, 0, 1);
	z-index: 100;
}

.navbar .navbar-right ul li .dropdown .nav-label {
	margin: 10px 0;
	margin-left: 10px;
	color: #828282;
	font-size: 16px;
}

.navbar .navbar-right ul li .dropdown a {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-align: center;
	align-items: center;
	padding: 12px 18px;
	text-decoration: none;
	border-radius: 3px;
	color: #548;
	font-weight: 600;
}

.navbar .navbar-right ul li .dropdown a .link-icon {
	margin-right: 10px;
	height: 30px;
}

.navbar .navbar-right ul li .dropdown a .link-title {
	font-weight: 600;
	color: #000;
}

.navbar .navbar-right ul li .dropdown a .link-description {
	font-size: 14px;
	font-weight: 400;
	color: #828282;
}

.navbar .navbar-right ul li .dropdown a p {
	margin: 0;
}

.navbar .navbar-right ul li .dropdown a:hover, .navbar .navbar-right ul li .dropdown a:focus {
	background: #f2f2f2;
	color: #548 !important;
}

@media all and (max-width: 992px) {
	.navbar .navbar-right {
		display: none;
	}
}

.navbar .sign-up-container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
}

@media all and (min-width: 992px) {
	.navbar .sign-up-container {
		height: 100%
	}
}

.navbar .sign-up, .navbar .search-icon {
	color: #548;
}

.navbar .search-visible {
	height: 58px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media all and (max-width: 1200px) {
	.navbar {
		padding: 0 20px;
	}
}

.simple-cta {
	background: #ffffff;
	border-radius: 31px;
	box-shadow: 3px 2px 9px 0px rgba(138, 127, 138, 0.55);
	font-size: 24px;
	font-weight: 700;
	margin: 0px auto 0px auto;
	max-width: 500px;
	padding: 15px;
	position: relative;
	margin-top: -68px;
	text-align: center;
	margin-bottom: 35px;
}

.hero-content {
	color: #ffffff;
	background: url(/assets/images/banner1.png) bottom center no-repeat;
	background-size: cover;
	overflow: visible;
}

.hero-content h1 {
	font-size: 52px;
	text-align: left;
	opacity: 1;
	font-weight: 700;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.hero-content h3 {
	font-size: 24px;
}
