
@keyframes bganim {
	from {
		background-position: 0px;
	}

	to {
		background-position: 80px;
	}
}
.wrap{
	padding-top: 70px;
	padding-bottom: 30%;
}
.wrap:hover{
	transform: translateZ(200px);
	padding-top: 100px;
}
.wrap .cube {
	margin: auto;
	position: relative;
	height: 200px;
	width: 200px;
	transform-style: preserve-3d;
}

.wrap .cube div {
	position: absolute;
	padding: 10px;
	box-sizing: border-box;
	height: 250px;
	width: 250px;
	opacity: 0.9;
	border: solid 1px #eee;
	color: #fff;
	font: 10px arial;
	transition: transform 0.2s ease-in;
}

.wrap .front {
	transform: translateZ(150px);
	border-radius: 12px;
		transform-origin: top right;
}

.wrap .back {
	transform: translateZ(-100px) rotateY(180deg);
	border-radius: 12px
}

.wrap .right {
	transform: rotateY(-270deg) translateX(100px);
	border-radius: 12px;
	transform-origin: top right;
}

.wrap .left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
	border-radius: 12px;
}

.wrap .top {
	transform: rotateX(-270deg) translateY(-100px);
	transform-origin: top center;
	border-radius: 12px;
}

.wrap .bottom {
	transform: rotateX(270deg) translateY(100px);
	transform-origin: bottom center;
	border-radius: 12px;
}

@keyframes rotate {
	from {
		transform: rotateX(0deg) rotateY(0deg);
	}

	to {
		transform: rotateX(360deg) rotateY(360deg);
	}
}

.wrap .cube {
	animation: rotate 30s infinite linear;
}

.wrap:hover .front {
	transform: translateZ(200px);
	padding-top: 100px;
	padding-bottom: 100px;
}

.wrap:hover .back {
	transform: translateZ(-200px) rotateY(180deg);
}

.wrap:hover .right {
	transform: rotateY(-270deg) translateZ(100px) translateX(100px);
}

.wrap:hover .left {
	transform: rotateY(270deg) translateZ(100px) translateX(-100px);
}

.wrap:hover .top {
	transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
}

.wrap:hover .bottom {
	transform: rotateX(270deg) translateZ(100px) translateY(100px);
}
