@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #e4e5e6 !important;
}

.background {
	background: #fff;
}

.logo {
	height: 100%;
	width: 100px;
	object-fit: contain;
}

.app {
	min-height: 100vh;
	position: relative;
	padding-bottom: 70px;
}

.app-body {
	margin-bottom: 10px;
}

.ts-copy-right {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.ts-copy-right .wrap-footer {
	background-color: white;
	padding: 30px 0px 20px 0px;
}

.app-header .navbar-brand {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 155px;
	height: 55px;
	padding: 0;
	margin-right: 0;
	background-color: transparent;
}

.img-avatar {
	height: 35px;
	border-radius: 50%;
}

.rs-nav-horizontal>ul>.rs-nav-item>.rs-nav-item-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.rs-navbar.rs-navbar-default {
	background-color: white !important;
}

.rs-nav.rs-nav-horizontal {
	white-space: normal !important;
}

.rs-navbar.rs-navbar-default .rs-nav-item-active>.rs-nav-item-content {
	color: #428bca !important;
	font-weight: bold;
}

.rs-navbar.rs-navbar-default .rs-dropdown .rs-dropdown-menu-active~.rs-dropdown-toggle {
	color: #428bca !important;
	font-weight: bold;
}

.rs-navbar.rs-navbar-default .rs-dropdown .rs-dropdown-menu-active~.rs-dropdown-toggle::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: #428bca !important;
}

.rs-dropdown-menu>.rs-dropdown-item-active>.rs-dropdown-item-content {
	color: #428bca !important;
}

.rs-nav-subtle.rs-nav-horizontal .rs-nav-item>.rs-nav-item-content::before {
	background-color: #428bca !important;
}

.rs-table-cell-header .rs-table-cell-content {
	font-weight: bold;
	background-color: #428bca;
	color: white;
	border-bottom: 2px solid rgb(194, 194, 194);
}

#danhsachhs .rs-table-cell-header .rs-table-cell-content {
	text-align: center !important;
}

.rs-table-pagination-toolbar {
	background: white !important;
}

.rs-table .header-cell-group .rs-table-cell-content {
	padding: 0 !important;
}

.rs-table .header-cell-group-title,
.rs-table .header-cell-group-subtitle span {
	padding: 10px;
	border-bottom: 1px solid #f2f2f5;
}

.rs-table .header-cell-group-subtitle span {
	display: inline-block;
	/* border-right: 1px solid #f2f2f5; */
}

.production-plan {
	background: white;
	padding: 15px;
}

.show-fake-browser.login-page {
	height: 100vh;
	background-image: url(/assets/images/background.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.show-fake-browser.login-page .rs-panel {
	background: #fff;
}

.rs-modal-header {
	border-bottom: 1px solid #8080804d;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.rs-modal-title {
	color: gray !important;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px !important;
	font-weight: bold;
}

.table-role-base {
	overflow: unset !important;
	position: relative;
	font-size: 1.1em;
	background-color: rgb(248, 248, 248);
	margin-top: 20px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
}

.table-role-base:before {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6,
		0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6,
		0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.table-role-base td {
	vertical-align: middle;
}

.custom-input,
.table-role-base input[type="checkbox"] {
	-webkit-appearance: none;
	outline: none;
	height: 25px;
	width: 25px;
	border-radius: 3px;
	border: 1px solid rgb(141, 141, 141);
	background-color: transparent;
	margin-right: 5px;
	position: relative;
}

.custom-input:hover,
.table-role-base input[type="checkbox"]:hover {
	cursor: pointer;
	box-shadow: 0px 0px 2px 1px #428bca;
	border: 1px solid rgba(218, 218, 218, 0.274);
}

.custom-input:checked,
.table-role-base input[type="checkbox"]:checked {
	border: none;
}

.custom-input:before,
.table-role-base input[type="checkbox"]:before {
	content: "\f00c";
	font-size: 16px;
	color: #dadada;
	font-family: "FontAwesome";
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.custom-input:checked::after,
.table-role-base input[type="checkbox"]:checked::after {
	visibility: visible;
	z-index: 999;
}

.custom-input:after,
.table-role-base input[type="checkbox"]::after {
	width: 100%;
	height: 100%;
	content: "\f00c";
	font-size: 16px;
	background-color: #428bca;
	color: white;
	font-family: "FontAwesome";
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	z-index: 0;
}

.custom-input:hover:before,
.table-role-base input[type="checkbox"]:hover:before {
	visibility: visible;
}

.rs-drawer-footer {
	position: absolute;
	bottom: 0;
	right: 0;
}

.inline-form-group {
	display: flex;
	flex-direction: row;
}

.inline-label {
	width: 30%;
}

.form-control-input {
	display: block;
	width: 100%;
}

.Email {
	border-collapse: collapse;
	margin: 15px;
	padding: 15px;
	border: 1px solid rgb(190, 190, 190);
	background-color: #fff;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.Email:before {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6,
		0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6,
		0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.NavItem {
	cursor: pointer;
	font-weight: bold;
}

.TabContent {
	padding: 10px;
	background-color: rgb(253, 255, 255);
}

.approve {
	color: green;
	font-weight: bold;
}

.refuse {
	color: red;
	font-weight: bold;
}


.bg-order {
	background-color: rgb(71, 151, 255);
}

.bg-plan {
	background-color: rgb(124, 181, 255);
}

.bg-request {
	background-color: #fcb913;
}

.bg-quality {
	background-color: rgb(255, 51, 61);
}

.card-box {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	padding: 5px;
}

.card-title {
	margin-bottom: 0.5rem;
	font-size: 20px;
	font-weight: bold;
}

.card-box p {
	margin: 0px;
}

.TabContent {
	height: auto;
	border: 1px solid #dee2e6;
	border-top: none;
}

/* .table td, .table th {
  border-top: none;
  border-bottom: 1px dotted #dee2e6;
} */
.rs-picker-checktree-view {
	background-color: transparent !important;
	overflow: unset !important;
}

#reportViewer1 {
	height: 100vh;
}

.text-header {
	font-size: 25px;
	font-weight: bold;
}

.rs-table-row-expanded {
	background-color: white !important;
}

.cursor-pointer {
	cursor: pointer;
}

.rs-input-number {
	padding: 0px;
}

.panel-with-list .rs-panel-heading {
	color: white;
	background-color: #17a2b8;
}

.rs-table-cell-wrap {
	word-break: keep-all;
}

.required:after {
	content: "*";
	color: red;
}

.inputfile {
	display: none;
}

.inputfile+label {
	background-color: rgb(219, 219, 219);
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
	padding: 5px 10px;
}

.inputfile:focus+label,
.inputfile+label:hover {
	background-color: rgb(185, 185, 185);
}

.custom-uploader .rs-uploader-trigger {
	display: inline-block;
	position: relative;
}

.custom-uploader .rs-uploader-trigger button {
	height: 24px;
	width: 16px;
}

.custom-uploader .rs-uploader-trigger::after {
	content: " (.pdf,.docx)";
}

.uploader-file .rs-uploader-trigger::after {
	content: "(.pdf,.docx,.doc,.xlsl,.xls,.ppt,.pptx,.jdp,.png,.bmp,.tif)";
	word-break: break-all;
}

.file-dialy .rs-uploader-trigger::after {
	content: " (.pdf,.jpg,.png)";
}

.no-extension .rs-uploader-trigger::after {
	content: "";
}

.jpg-png-file .rs-uploader-trigger::after {
	content: " (.jpg,.png)";
}

.cvyc-file .rs-uploader-trigger::after {
	word-break: break-all;
	content: " (.pdf,.docx,.doc,.xlsx,.xls,.ppt,.pptx,.jpg,.png,.bmp,.tif)";
}

.tlk-file .rs-uploader-trigger::after {
	content: " (.png,.gif,.docx,.xlsx)";
}

.pdf-file .rs-uploader-trigger::after {
	content: " (.pdf)";
}

.jpd-pdf-file .rs-uploader-trigger::after {
	content: " (.jpg,.pdf)";
}

.custom-uploader .rs-uploader-trigger::before {
	content: "\f0c6";
	font-family: "FontAwesome";
	position: absolute;
	left: 6px;
	top: 2px;
	z-index: 1;
	pointer-events: none;
}

.custom-uploader .rs-uploader-file-items {
	margin-top: 0 !important;
}

.custom-uploader .rs-uploader-trigger span {
	display: none;
}

/* custom choose file in table - Đơn đăng ký nhãn hiệu*/
.files .rs-btn {
	color: white !important;
	z-index: 9;
	background: #007bff9e !important;
}

.error {
	margin-left: 10px;
	color: red;
}

.list-panel a {
	color: blue;
}

.uploader-picture .rs-uploader-trigger-btn {
	width: 200% !important;
	height: 200% !important;
	background: gainsboro !important;
	border-radius: unset !important;
}

.rs-control-label {
	margin-bottom: 0px;
}

.border-collapse {
	border-collapse: collapse;
}

.border-radius-home {
	-webkit-box-shadow: 0 14px 28px rgba(92, 116, 153, 0.15), 0 10px 10px rgba(92, 116, 153, 0.1);
	-moz-box-shadow: 0 14px 28px rgba(92, 116, 153, 0.15), 0 10px 10px rgba(92, 116, 153, 0.1);
	box-shadow: 0 14px 28px rgba(92, 116, 153, 0.15), 0 10px 10px rgba(92, 116, 153, 0.1);
}

.header-task {
	background: #f7f8fa;
	border: unset
}

.header-task .in {
	background: unset !important;
}

.header-task .rs-panel-heading:before {
	left: 20px !important;
}

.header-task .rs-panel-heading:before {
	right: unset !important;
}

.header-task .rs-panel-heading .rs-panel-title {
	margin-left: 20px !important;
}

.task-name {
	cursor: pointer;
}

.assignText {
	background: #eee;
	border: 1px solid #eaecf1;
	border-radius: 3px;
	color: #8b8b8b;
	font-size: 13px;
	padding: 2px 4px 3px;
	margin-right: 3px;
}

.header-table .rs-table-cell-header .rs-table-cell-content {
	background-color: #dee2e6 !important;
	color: #2e2e2e;
}

hr {
	border-top: 1px solid #c5c6c7 !important;
	margin-top: 10px;
	margin-bottom: 10px;
}

.header-drawer {
	margin: unset !important;
	padding-right: unset !important;
	padding-left: 20px;
	padding-top: 5px;
	height: 50px !important;
}

.header-drawer .rs-drawer-header-close {
	display: none !important;
}

.img-avatar-drawer {
	height: 50px;
	border-radius: 50%;
}

.drawer-body-custom {
	height: 90% !important;
}

.rs-panel-in {
	background: unset !important;
	border: 1px solid #e5e5ea !important;
}

.checkbox-custom {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-custom input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 16px;
	background-color: #eee;
	border-radius: 1px
}

/* On mouse-over, add a grey background color */
.checkbox-custom:hover input~.checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-custom input:checked~.checkmark {
	background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkbox-custom input:checked~.checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox-custom .checkmark:after {
	left: 5px;
	top: 1px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loading/loader-orange.gif) center no-repeat #fff;
}

.ec-card {
	background: #ffffff;
	border-radius: 31px;
	box-shadow: 9px 4px 9px 6px rgba(138, 127, 138, 0.55);
	padding-top: 35px;
	padding-bottom: 19px;
}

.ec-card .rs-control-label {
	font-size: 15px;
	font-weight: bold;
}

.category .products {
	box-shadow: 3px 2px 9px 0px rgba(102, 97, 102, 0.55);
	cursor: pointer !important;
}

.option-cart a.notification-icon {
	float: right;
	width: 32px;
	height: 32px;
	margin-right: 24px;
	background: url(../images/notification.png) center center no-repeat;
	background-color: rgba(255, 255, 255, 0.1);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: none;
	font-size: 0;
	color: #fff
}

.option-cart:hover a.notification-icon {
	background-color: #f7544a;
}

/*linhnhat*/
.ui-scrollbar::-webkit-scrollbar {
	height: 8px;
	width: 8px;
	background-color: #bfbfbf;
	border-radius: 5px;
}

.ui-scrollbar::-webkit-scrollbar-track-piece {
	background: rgb(250, 253, 254);
}

.ui-scrollbar::-webkit-scrollbar {
	height: 8px;
	width: 8px;
	background-color: #bfbfbf;
}

.ui-scrollbar::-webkit-scrollbar-thumb {
	background: #bfbfbf;
	border-radius: 5px;
}

.navbar .text-header {
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-weight: 700;
	color: #f5a742 !important;
	display: flex;
	align-items: center;
	padding: 10px;
}

.navbar .text-header-icon {
	color: #f5a742 !important;
	font-size: 16px;
	font-weight: 700;
}

.text-header-icon ::placeholder {
	color: #f5a742;
}

.transparent-header .text-header {
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-weight: 700;
	color: #ffffff !important;
	display: flex;
	align-items: center;
	padding: 10px;
	background: transparent;
}

.transparent-header {
	/* background: linear-gradient(to right, #47d49f, #3fbaae); */
	background: linear-gradient(to right, #d06b10, #f5a742);
	position: sticky;
	top: 0;
	width: 100%;
	padding: 0 80px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 58px;
	font-size: .9em;
}

.rs-nav-item-content:before {
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	bottom: 50%;
	width: 2px;
	background-color: #34c3ff;
	-webkit-transition: top .3s ease-out, bottom .3s ease-out;
	transition: top .3s ease-out, bottom .3s ease-out;
}

.text-16 {
	font-size: 16px;
	font-weight: 700;
}

.text-18 {
	font-size: 18px;
	font-weight: 700;
}

.text-20 {
	font-size: 18px;
	font-weight: 700;
}

.text-28 {
	font-size: 28px;
	font-weight: 700;
}

.title-active a {
	border: 1px solid #cfcfcf;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #fff;
	font-size: 0;
	margin-right: 10px;
	position: relative;
}

.title-active a.active, .title-active a:hover {
	background-position: center bottom;
	background-color: #f5a742;
	border-color: #f5a742;
}

.no-border button:hover {
	border-width: 0px !important;
	color: none !important;
}

.image-gallery-slides {
	border-radius: 25px;
}

.ts-copy-right {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.ts-copy-right .wrap-footer {
	background-color: white;
	padding: 30px 0px 20px 0px;
}
.rs-nav-horizontal > ul{
	display: flex !important;
}
