/* CSS RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	/* font-family: Open Sans, sans-serif !important; */
	font-size: 12px;
	font-weight: 300;
	line-height: 1;
	background: #f5f5f5;
	color: #434343;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Changable Global Styles -------------------------------------------------- */
*::-moz-selection {
	color: #ff9e98;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	font-weight: 300;
}

h1 {
	font-size: 42px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 14px;
}

p {
	font-size: 12px;
	font-weight: 300;
	margin: 0 0 10px 0;
	line-height: 18px;
}

.light {
	font-weight: 300;
}

.regular, strong {
	font-weight: 400;
}

.medium {
	font-weight: 500;
}

.bold {
	font-weight: 700;
}

a {
	transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
}

a:focus {
	outline: medium none;
	outline-offset: 0;
}

a:hover, a:focus, a {
	text-decoration: none;
}

ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

ul:after {
	clear: both;
	content: "";
	display: block;
}

li {
	line-height: 18px;
	transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
}

img {
	max-width: 100%;
	height: auto;
}

/*~~ text align style ~~*/
.center-text {
	text-align: center;
}

.left-text {
	text-align: left;
}

.right-text {
	text-align: right;
}

/*~~ position ~~*/
.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

/*Color*/
.light-red {
	color: #fe5252;
}

.gray {
	color: #CCC;
}

.red {
	color: #ff3a3a;
}

.red-bg {
	background: #ff3a3a;
}

.yellow-bg {
	background: #fcff19;
}

.black-bg {
	background: #353535;
}

.gray-bg {
	background: #CCC;
}

.pink-bg {
	background: #ff26cf;
}

.dkpink-bg {
	background: #5c2c5d;
}

.chocolate-bg {
	background: #520000;
}

.chocolatelight-bg {
	background: #9a5b3b;
}

.biscuit-bg {
	background: #8e665e;
}

.lightgreen-bg {
	background: #84e25a;
}

.extra-lightgreen-bg {
	background: #b1cb5e;
}

.off-white-bg {
	background: #b1cb5e;
}

.orange-bg {
	background: #ff5313;
}

/*Transition Animation*/
a, button, .button, .products, .name, .price, .fa, .sequence-next, .sequence-prev {
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-ms-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	/* linear */
}

/*form element */
input[type="text"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], textarea {
	background: #fff;
	padding: 8px 15px;
	border: 1px solid #cccccc;
	font-size: 14px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="tel"]:focus, textarea:focus {
	border-color: #f5a742;
	outline: none;
}

/* button */
.button, button {
	background: #fff;
	padding: 10px 20px;
	border: 1px solid #cccccc;
	font-size: 14px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	outline: none;
}

.button:hover, button:hover {
	border: 1px solid #f5a742;
	color: #f5a742;
}

.add-cart {
	padding: 9px 30px;
}

.compare, .wishlist {
	padding: 9px 10px;
	font-size: 18px;
}

/* End of global estyle-------------------------------------------------- */
/* customizable Style */
.wrapper {
	position: relative;
	width: 100%;
}

.header, .footer, .container_fullwidth {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
}

/*ececec*/
.container_fullwidth {
	background: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
}

/* HEADER STYLE */

#home .header {
	background: url(../images/black_transparent50.png) left top repeat;
	position: relative;
	z-index: 100;
	top: 0;
}

.header {
	position: relative;
	background: #333333;
}

.logo {
	float: left;
	position: relative;
	padding: 20px 0;
}

.header_top {
	float: right;
	width: 100%;
	position: relative;
}

.header_bottom {
	float: left;
	width: 100%;
	position: relative;
}

.option_nav {
	float: left;
	padding-top: 10px;
}

.option_nav li {
	float: left;
	display: inline-block;
	list-style: none;
	margin-right: 20px;
	position: relative;
}

.option_nav li>a {
	float: left;
	background: url(../images/down-arow.png) right 13px no-repeat;
	font-size: 12px;
	color: #f5a742;
	text-transform: uppercase;
	padding: 5px 12px 5px 0;
}

.option_nav li ul {
	display: none;
	position: absolute;
	right: 0;
	top: 25px;
	border: 1px solid #f5a742;
	-webkit-border-radius: 20px;
	border-radius: 10px;
	background: #fff;
	padding: 5px 10px;
	z-index: 100000;
}

.option_nav li:hover ul {
	display: block;
}

.option_nav li ul li {
	display: list-item;
	list-style: none;
	margin: 5px;
}

.option_nav li ul li a {
	display: block;
	text-align: center;
	color: #434343;
	background: none;
	padding: 0;
	line-height: 14px;
}

.option_nav li ul li a:hover {
	color: #f5a742;
}

/* top menu */
.topmenu {
	float: right;
	width: auto;
	padding-top: 20px;
}

.topmenu li {
	float: left;
	border-left: 1px solid #ffffff;
	padding: 0 8px;
	line-height: 12px;
}

.topmenu li:first-child {
	border: none;
	padding-left: 0;
}

.topmenu li:last-child {
	margin-right: 0;
	padding-right: 0;
}

.topmenu li a {
	display: block;
	color: #fff;
	line-height: 12px;
}

.topmenu li a:hover {
	color: #f5a742;
}

.usermenu {
	float: right;
	padding-top: 15px;
}

.usermenu li {
	float: left;
	margin-left: 25px;
}

.usermenu li:first-child {
	margin-left: 0;
}

.usermenu li a {
	float: left;
	padding-left: 22px;
	color: #fff;
}

.usermenu li a.log {
	background: url(../images/loginbg.png) left top no-repeat;
}

.usermenu li a.reg {
	background: url(../images/regbg.png) left top no-repeat;
}

/* NAV style */
.navbar-collapse {
	float: left;
	position: relative;
	width: auto;
	padding: 20px 0 10px 0;
}

.nav li {
	float: left;
	display: inline-block;
	position: relative;
	padding-bottom: 5px;
}

.nav li a {
	padding: 7px 20px;
	font-size: 15px;
	color: #fff;
	border: 1px solid;
	border-color: rgba(255, 255, 255, 0);
	-webkit-border-radius: 10px;
	border-radius: 10px;
	text-transform: uppercase;
}

.nav li.active a, .nav li a:hover, .nav li a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	border-color: rgba(255, 255, 255, 1);
	background: none;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus, .nav .dropdown-hover a, .nav .dropdown-hover a:hover {
	border-color: #f5a742;
	background: none;
}

.nav .dropdown-menu {
	left: auto;
	right: 0;
}

.mega-menu, .navbar-nav>li>.dropdown-menu {
	min-width: 150px;
	padding: 20px;
	border: 1px solid #f5a742;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.mega-menu-links {
	list-style: none outside none;
	margin: 0;
}

.mega-menu-links li {
	margin: 0;
	padding: 0;
	width: 100%;
}

.mega-menu-links li>a {
	white-space: normal;
}

.mega-menu-links>li>a, ul.dropdown-menu>li>a {
	clear: both;
	color: #666666;
	display: block;
	font-weight: 300;
	line-height: 20px;
	padding: 3px 10px;
	white-space: nowrap;
	font-size: 13px;
	text-transform: capitalize;
	border: none;
}

.mega-menu-links>li>a:hover, ul.dropdown-menu>li>a:hover {
	color: #f5a742;
}

.dropdown-hover:hover>.dropdown-menu, .open>.dropdown-menu {
	display: block;
}

.navbar-toggle .icon-bar {
	background: #fff;
}

/* Opton Bar */
.option {
	position: relative;
	float: right;
	width: auto;
	margin-top: 20px;
	z-index: 1;
}

.search {
	float: left;
	position: relative;
	z-index: 1;
}

.search form {
	float: right;
	padding-bottom: 15px;
}

.search-submit {
	float: left;
	width: 32px;
	height: 32px;
	background: url(../images/search-bg.png) center center no-repeat;
	background-color: rgba(255, 255, 255, 0.1);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: none;
}

.search form:hover .search-submit {
	background-color: #f5a742;
}

.search-input {
	outline: none;
	background: #fff;
	width: 100%;
	height: 36px;
	margin: 0;
	z-index: 1000;
	padding: 3px 10px;
	font-family: inherit;
	font-size: 12px;
	color: #2c3e50;
	border: 1px solid #fff;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.search form:hover .search-input {
	display: block;
}

.option-cart {
	float: left;
	position: relative;
	margin-left: 10px;
	padding-bottom: 5px;
}

.option-cart a.cart-icon {
	float: right;
	width: 32px;
	height: 32px;
	margin-right: 24px;
	background: url(../images/carticon.png) center center no-repeat;
	background-color: rgba(255, 255, 255, 0.1);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: none;
	font-size: 0;
}

.option-cart:hover a.cart-icon {
	background-color: #f5a742;
}

.option-cart .cart_no {
	position: absolute;
	top: -8px;
	right: 0px;
	width: 20px;
	font-size: 14px;
	color: #fff;
}

.option-cart-item {
	position: absolute;
	top: 35px;
	right: 24px;
	width: 258px;
	border: 1px solid #f5a742;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	background: #fff;
	z-index: 10000;
	display: none;
}

.option-cart:hover .option-cart-item {
	display: block;
}

.option-cart-item li {
	display: list-item;
	float: left;
	margin: 10px 0;
	width: 100%;
}

.cart-item .image {
	border: 1px solid #cfcfcf;
	float: left;
	height: 46px;
	width: 40px;
	padding: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 5px 0 5px 5px;
}

.cart-item .image img {
	max-height: 100%;
	max-width: 100%;
	display: block;
	margin: 0 auto;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.cart-item .item-description {
	float: left;
	width: 130px;
	padding-left: 15px;
}

.cart-item .item-description .name {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	color: #434343;
}

.cart-item .item-description p {
	font-size: 11px;
	margin-bottom: 2px;
	color: #898989;
}

.option-cart-item a {
	background: none;
}

.cart-item .right {
	float: right;
	text-align: center;
	width: auto;
	padding: 5px;
}

.cart-item .price {
	font-size: 15px;
}

.option-cart-item .total {
	float: left;
	margin-left: 5px;
	vertical-align: middle;
	font-size: 13px;
	padding-top: 10px;
	text-transform: uppercase;
}

.option-cart-item .total strong {
	margin-left: 15px;
	font-size: 18px;
	color: #f5a742;
}

.option-cart-item .checkout {
	float: right;
}

/*~~~~~~~~~~~ HOME PAGE SLIDER ~~~~~~~~~*/
.flat-caption {
	padding: 0;
	font-size: 20px;
	line-height: 28px;
	color: #fff;
	position: relative;
}

.flat-caption .suphead {
	text-align: left;
	font-size: 25px;
	text-transform: uppercase;
	padding-bottom: 10px;
}

.flat-caption h1 {
	font-size: 45px;
	font-weight: 300;
	line-height: 45px;
	text-transform: uppercase;
	width: 100%;
}

.flat-caption h2 {
	font-size: 22px;
	line-height: 30px;
	text-transform: uppercase;
}

.flat-caption h3 {
	font-size: 35px;
	line-height: 43px;
}

.flat-caption p {
	font-size: 14px;
	text-align: center;
}

.flat-button {
	padding: 0;
}

.flat-button a.more {
	border: 1px solid #fff;
	padding: 10px 50px 10px 15px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: url(../images/more-icon.png) right 10px top 7px no-repeat;
	color: #fff;
}

.flat-button a.more:hover {
	background-color: #f5a742;
	border-color: #da2a20;
}

.flat-image img {
	width: auto;
	height: auto;
}

.caption1, .caption2, .caption3, .caption4, .caption5 {
	left: 7%;
	width: 50%;
}

.caption1 {
	top: 15%;
}

.caption2 {
	top: 20%;
}

.caption3 {
	top: 30%;
}

.caption4 {
	top: 42%;
}

.caption5 {
	top: 47%;
}

/* HOME2 SLIDER */
.hom-slider {
	position: relative;
	float: left;
	width: 100%;
	background: none;
}

.slide-caption {
	float: left;
	width: 48%;
	text-align: center;
	margin-top: 110px;
	color: #fff;
}

.slide-caption .suphead {
	float: left;
	width: 100%;
	text-align: left;
	font-size: 25px;
	text-transform: uppercase;
	padding-bottom: 10px;
}

.slide-caption h1 {
	float: left;
	width: 100%;
	text-align: left;
	font-size: 45px;
	line-height: 45px;
	font-weight: 300;
	text-transform: uppercase;
	padding-bottom: 10px;
}

.slide-caption p {
	padding-bottom: 20px;
}

.slide-caption .more {
	border: 1px solid #fff;
	padding: 10px 50px 10px 15px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: url(../images/more-icon.png) right 10px top 7px no-repeat;
	color: #fff;
}

.slide-caption .more:hover {
	background-color: #f5a742;
	border-color: #da2a20;
}

/** HOME 2 SLIDER **/
#homeslide2 {
	margin-top: -20px;
}

#homeslide2 .flexslider .slides>li {
	position: relative;
}

#homeslide2 .slide-caption {
	position: absolute;
	left: 5%;
	top: 0;
	z-index: 100;
	width: 50%;
	text-align: left;
}

#homeslide2 .slide-caption p {
	font-size: 22px;
	text-transform: uppercase;
	line-height: 28px;
}

#homeslide2 .flexslider .slides img {
	margin-right: 5%;
}

/** HOME 3 SLIDER **/
#homeslide3 {
	margin-top: -20px;
}

#homeslide3 .flexslider .slides>li {
	position: relative;
}

#homeslide3 .slide-caption h1 {
	text-align: center;
}

#homeslide3 .slide-caption {
	position: absolute;
	left: 5%;
	top: 0;
	z-index: 100;
	width: 50%;
}

#homeslide3 .slide-caption p {
	font-size: 14px;
	line-height: 22px;
}

#homeslide3 .flexslider .slides img {
	margin-right: 5%;
}

/*```````````` HEADER SECTION CLOSE ```````````````````*/
/*~~~~~~ CONTAINER ~~~~~~~~~~~~~*/
/*promotion Banner */
.promotion-banner {
	background: url(../images/black_transparent50.png) left top repeat;
	bottom: 0;
	padding: 15px 0;
	position: absolute;
	width: 100%;
	z-index: 10;
}

.promo-box {
	float: left;
	width: 100%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	overflow: hidden;
}

/*``promotion banner close``*/
/* title */
.title {
	float: left;
	position: relative;
	width: 100%;
	margin-bottom: 15px;
	font-size: 24px;
	color: #2f2f2f;
	font-weight: 300;
	padding-bottom: 5px;
}

.title strong {
	color: #f5a742;
	font-weight: 300;
}

/*carousel */
.control {
	position: absolute;
	right: 0;
	top: 20px;
	background: #fff;
}

.control .prev, .control .next {
	float: left;
	width: 14px;
	height: 20px;
	font-size: 0;
}

.control .next {
	margin-left: 15px;
	background: url(../images/arow_right.png) left top no-repeat;
}

.control .prev {
	background: url(../images/arow_left.png) left top no-repeat;
}

.control .prev:hover, .control .next:hover {
	background-position: left bottom;
}

/*~~ Products Style ~~*/
/*featured products */
.featured-products, .hot-products, .our-brand {
	float: left;
	width: 100%;
	position: relative;
	padding: 15px 0 0 0;
}

#featured, #hot, #brand, #braldLogo {
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	width: 100%;
}

#featured li, #hot li, #brand li, #braldLogo li {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	display: inline;
}

.featured-products, .our-brand {
	padding-top: 30px;
}

/*products */
.products {
	border: 1px solid #e1e1e1;
	position: relative;
	overflow: hidden;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #fff;
	margin-bottom: 15px;
}

.products:hover {
	background: #fff;
	border-color: #f5a742;
	-webkit-box-shadow: 0 0 5px 2px #d3d3d3;
	box-shadow: 0 0 5px 2px #d3d3d3;
}

.offer {
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 99;
	padding: 10px;
	font-size: 18px;
	color: #fff;
	background: #f5a742;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.thumbnail {
	float: left;
	position: relative;
	width: 100%;
	margin: 45px 0 5px 0;
	padding: 0;
	height: 230px;
	border: none;
	text-align: center;
}

.productname {
	float: left;
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: #2f2f2f;
	margin-bottom: 10px;
	color: #333333;
}

.products .price {
	float: left;
	width: 100%;
	color: #ff1e2c;
	text-align: center;
	font-weight: 500;
	margin-bottom: 15px;
	font-size: 20px;
	line-height: 24px;
}

.products .button_group {
	float: left;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
}

.products .button {
	margin: 0 3px 5px 3px;
}

.products .button .fa {
	color: #f5a742;
}

.products .button:hover {
	background: #f5a742;
	color: #fff;
}

.products .button:hover .fa {
	color: #fff;
}

/* products-grid */
.products-grid {
	position: relative;
	width: 100%;
}

.products-grid .products {
	margin: 15px 0;
}

/* Product List */
.products-listItem {
	float: left;
	position: relative;
	width: 100%;
	margin-bottom: 15px;
}

.products-listItem .products {
	border: 1px solid #e1e1e1;
	position: relative;
	overflow: hidden;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #fff;
	padding: 15px;
	margin-top: 15px;
	min-height: 150px;
}

.products-listItem .products:hover {
	background: #fff;
	border-color: #f5a742;
	-webkit-box-shadow: 0 0 5px 1px #d3d3d3;
	box-shadow: 0 0 5px 1px #d3d3d3;
}

.products-listItem .thumbnail {
	border: medium none;
	float: left;
	margin: 0;
	padding: 15px 10px 5px 10px;
	position: relative;
	width: 18%;
	height: auto;
}

.product-list-description {
	float: right;
	width: 75%;
}

.product-list-description .productname {
	font-size: 20px;
	color: #434343;
	text-align: left;
	margin-top: 15px;
	font-weight: 400;
}

.review_num {
	margin-left: 10px;
}

.list_bottom {
	position: relative;
	width: 100%;
	padding-top: 10px;
}

.list_bottom .button_group {
	width: auto;
}

.product-list-description .price {
	float: left;
	width: 40%;
}

.product-list-description .new_price {
	float: left;
	font-size: 28px;
	color: #ff3636;
	margin-right: 10px;
}

.product-list-description .new_price sup {
	font-size: 18px;
}

.product-list-description .old_price {
	float: left;
	text-decoration: line-through;
	font-size: 18px;
	color: #666666;
}

.product-list-description .old_price sup {
	font-size: 10px;
}

.product-list-description .button {
	margin: 0 5px;
}

.favorite, .compare {
	color: #ff3636;
}

/*!````` product style close``````````````!*/
/* BRAND LOGO */
.brand_item {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.brand-logo {
	float: left;
	border: 1px solid #dcdcdc;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	width: 100%;
	padding: 10px;
	text-align: center;
}

#braldLogo .brand_item li {
	display: inline-block;
	*display: inline;
	margin-right: 2%;
	width: 18.4%;
}

#braldLogo .brand_item li:last-child {
	margin-right: 0;
}

.our-brand .caroufredsel_wrapper {
	min-height: 87px;
}

/*left bar */
.leftbar {
	position: relative;
	margin: 15px 0;
	padding: 15px;
	border: 1px solid #e1e1e1;
	overflow: hidden;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	clear: both;
}

.leftbar .title {
	font-size: 16px;
	text-transform: uppercase;
}

/*!~~~~~~~~~~~~ SPECIAL DEAL ~~~~~~~~~~~~~*/
.special-deal {}

.special-deal img {
	display: block;
	margin: 0 auto;
}

.special-item {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}

.special-item:last-child {
	margin-bottom: 5px;
}

.special-item .product-image {
	float: left;
	width: 25%;
	text-align: center;
}

.special-item .product-info {
	float: right;
	width: 65%;
}

.special-item .price {
	color: #ff3e3e;
	font-size: 16px;
}

.rating .fa {
	margin: 1px;
}

/*!~~~~~~~~~~~~ PRODUCT TAGS ~~~~~~~~~~~~~*/
.product-tag {}

.product-tag ul {
	position: relative;
}

.product-tag ul li {
	float: left;
	display: inline;
	margin: 0 5px 5px 0;
}

.product-tag ul li a {
	background: #fff;
	color: #2f2f2f;
	padding: 5px 15px;
	border: 1px solid #cccccc;
	display: block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.product-tag ul li a:hover {
	color: #f5a742;
	border-color: #f5a742;
}

/* News letter */
.get-newsletter {}

.get-newsletter input.email {
	display: block;
	border: 1px solid #cccccc;
	padding: 10px 15px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	width: 100%;
	margin-bottom: 10px;
}

.get-newsletter input.submit {
	display: block;
	border: none;
	background: #f5a742;
	color: #fff;
	padding: 10px 25px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}

/*Bacebook Likebox */
.likebutton {
	float: left;
	margin-right: 20px;
}

.fbl-box ul {
	position: relative;
}

.fbl-box ul li {
	margin: 5px;
	display: inline-block;
}

.fbl-box ul li a {
	float: left;
	width: 40px;
	height: 34px;
	border: 1px solid #cccccc;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}

.fbplug {
	display: block;
	margin-top: 5px;
}

.fbplug span {
	margin-right: 5px;
}

/*!~~~~FOOTER STYLE~~~~*/
.footer {
	width: 100%;
	background: #d3d6d8;
}

.footer-info {
	position: relative;
	padding: 30px 0;
	color: #8f8f8f;
}

.footer-logo {
	padding-top: 50px;
	text-align: center;
	position: relative;
}

.footer-info .title {
	margin-bottom: 25px;
	margin-top: 15px;
	color: #fff;
	font-size: 18px;
}

.footer-info p {
	font-size: 13px;
}

.support ul {
	position: relative;
	margin: 0 0 10px 0;
	padding: 0;
}

.support li {
	display: list-item;
	list-style: disc inside;
	color: #f5a742;
	margin-bottom: 5px;
}

.support li a {
	color: #8f8f8f;
}

.support li a:hover {
	color: #f5a742;
}

form.newsletter {
	float: left;
	width: 100%;
	position: relative;
	padding-top: 10px;
}

form.newsletter input[type="text"], form.newsletter input[type="submit"] {
	float: left;
	height: 33px;
	padding: 5px;
	width: 75%;
	font-size: 13px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #575757;
	background: none;
	color: #fff;
}

form.newsletter input[type="submit"] {
	float: right;
	width: 23%;
}

form.newsletter input[type="submit"]:hover {
	color: #f5a742;
}

.copyright-info {
	position: relative;
	overflow: hidden;
	background: #d3d6d8;
	padding: 15px 0;
	border-top: 1px solid #d3d6d8;
}

.copyright-info p {
	padding-top: 10px;
	color: #898989;
	font-size: 13px;
}

.copyright-info a {
	color: #f5a742;
}

.social-icon {
	float: right;
	padding-top: 4px;
}

.social-icon li {
	display: inline-block;
	margin-left: 10px;
}

.social-icon li a {
	float: left;
	width: 25px;
	height: 25px;
	font-size: 0;
	background-position: center top;
}

.social-icon li a:hover {
	background-position: center bottom;
}

.social-icon li a.linkedin {
	background-image: url(../images/in.png);
}

.social-icon li a.google-plus {
	background-image: url(../images/gplus.png);
}

.social-icon li a.twitter {
	background-image: url(../images/twi.png);
}

.social-icon li a.facebook {
	background-image: url(../images/f.png);
}

/* Products page style */
.page-index {
	border-top: 1px solid #5c5c5c;
	position: relative;
	padding: 20px 0;
	color: #fff;
}

.page-index ul {
	position: relative;
	float: left;
}

.page-index ul li {
	float: left;
	background: url(../images/slash.png) left center no-repeat;
	padding: 0 10px 0 15px;
}

.page-index ul li:first-child {
	padding-left: 0;
	background: none;
}

.page-index ul li a {
	font-size: 14px;
	color: #2f2f2f;
}

.page-index ul li a:hover {
	color: #0092ff;
}

/* Category */
.category {
	position: relative;
}

.category li, .branch li {
	display: list-item;
	margin-bottom: 10px;
}

.category li a, .branch li a {
	font-size: 13px;
	color: #666666;
	display: block;
}

.category li a:hover, .category li>a.active, .category li a:active, .branch li a:hover, .branch li>a.active, .branch li a:active {
	color: #f5a742;
}

.others .title {
	margin-bottom: 0;
	text-align: center;
}

.pricing label {
	float: left;
	margin-right: 5px;
	color: #f5a742;
	font-size: 16px;
}

.pricing .separate {
	float: left;
	margin: 0 10px 0 5px;
	font-size: 24px;
	font-weight: 700;
	color: #bfbfbf;
}

.pricing input[type="number"], .pricing input[type="submit"] {
	width: 40px;
	height: 30px;
	border: 1px solid #d2d2d2;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	padding: 5px;
	margin-left: 5px;
	font-size: 14px;
}

.pricing input[type="submit"] {
	border: 1px solid #f5a742;
	background: #f5a742;
	color: #fff;
}

.clolr-filter {
	position: relative;
}

.clolr-filter li {
	display: inline-block;
	margin-right: 8px;
	margin-bottom: 8px;
	width: 26px;
	height: 26px;
}

.clolr-filter li a {
	float: left;
	display: block;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 0;
	width: 100%;
	height: 100%;
}

/* BANNER */
.leftbanner {
	width: 100%;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin: 15px 0;
	position: relative;
	overflow: hidden;
}

.leftbanner img {
	width: 100%;
}

/* Page main banner*/
.banner {
	width: 100%;
	height: 180px;
	position: relative;
	clear: both;
	overflow: hidden;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: 15px 0;
}

.bannerslide {
	width: 100%;
	position: relative;
}

.bannerslide li {
	position: relative;
}

/* toolbar */
.toolbar {
	float: left;
	position: relative;
	width: 100%;
	margin: 10px 0;
}

.sorter {
	float: left;
	width: 50%;
}

.view-mode {
	float: left;
	width: 25%;
}

.view-mode a {
	float: left;
	width: 25px;
	height: 25px;
	border: 1px solid #cfcfcf;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #fff;
	font-size: 0;
	margin-right: 10px;
	position: relative;
}

.view-mode a.active, .view-mode a:hover {
	background-position: center bottom;
	background-color: #f5a742;
	border-color: #f5a742;
}

.view-mode .list {
	background-image: url(../images/list-icon.png);
}

.view-mode .grid {
	background-image: url(../images/grid-icon.png);
}

.view-mode a.active:after, .view-mode a.active:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.view-mode a.active:after {
	border-color: rgba(247, 84, 74, 0);
	border-top-color: #f5a742;
	border-width: 8px;
	margin-left: -8px;
}

.view-mode a.active:before {
	border-color: rgba(247, 84, 74, 0);
	border-top-color: #f5a742;
	border-width: 8px;
	margin-left: -8px;
}

.bottom .view-mode a.active:after, .bottom .view-mode a.active:before {
	top: auto;
	bottom: 100%;
}

.bottom .view-mode a.active:after {
	border-top-color: #fff;
	border-bottom-color: #f5a742;
}

.bottom .view-mode a.active:before {
	border-top-color: #fff;
	border-bottom-color: #f5a742;
}

.sort-by, .limiter {
	float: left;
	margin-left: 20px;
	font-size: 13px;
}

.sort-by select, .limiter select, select {
	padding: 6px;
	border: 1px solid #e7e7e7;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-left: 10px;
	color: #f5a742;
	min-width: 60px;
}

.sort-by option, .limiter option, option {
	color: #666666;
}

.pager {
	float: right;
	width: auto;
	margin: 0;
}

.pager a {
	float: left;
	margin-left: 5px;
	min-width: 25px;
	min-height: 25px;
	border: 1px solid #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	text-align: center;
	font-size: 15px;
	line-height: 22px;
}

.pager a.prev-page, .pager a.next-page {
	border: 1px solid #cfcfcf;
}

.pager a.active {
	color: #f5a742;
}

/*Products Details page style */
.products-details {
	position: relative;
	width: 100%;
}

.preview_image {
	float: left;
	width: 330px;
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border: 1px solid #e1e1e1;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	display: block;
}

.preview-small {
	display: block;
	width: 100%;
	margin-top: 10px;
	position: relative;
}

.preview-small .zoom {
	position: absolute;
	right: 25px;
	bottom: 25px;
	z-index: 1;
	font-size: 24px;
	color: #b0b0b0;
}

.thum-image {
	position: relative;
	width: 240px;
	margin: 15px auto 5px;
}

.thum-image li {
	float: left;
	width: 57px;
	height: 57px;
	padding: 5px;
	display: inline-block;
}

.thum-image li a {
	float: left;
	width: 47px;
	height: 47px;
	padding: 3px;
	border: 1px solid #cccccc;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.thum-image li a:hover {
	border-color: #f5a742;
}

.thum-image li a img {
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

.thum-image .control-left, .thum-image .control-right {
	position: absolute;
	top: 20px;
	left: -20px;
	font-size: 20px;
	color: #b0b0b0;
}

.thum-image .control-right {
	left: auto;
	right: -20px;
}

.thum-image .control-left:hover, .thum-image .control-right:hover, .preview-small .zoom:hover {
	color: #f5a742;
}

.products-description {
	border: 1px solid #E1E1E1;
	border-radius: 10px;
	display: block;
	padding: 20px;
	position: relative;
	overflow: hidden;
}

.products-description .name {
	font-weight: 400;
	margin-bottom: 15px;
}

.border {
	border-color: #e1e1e1;
}

.products-description .price {
	font-weight: 400;
	width: 100%;
	font-size: 13px;
	vertical-align: middle;
}

.products-description .price .new_price {
	font-size: 30px;
	color: #ff3636;
	font-weight: 500;
	margin-left: 30px;
}

.products-description .new_price sup {
	font-size: 18px;
}

.products-description .old_price {
	color: #666666;
	font-size: 18px;
	text-decoration: line-through;
	margin-left: 30px;
}

.products-description .old_price sup {
	font-size: 13px;
}

.wided {
	float: left;
	position: relative;
	width: 100%;
}

.products-description .qty {
	float: left;
	font-weight: 400;
	width: auto;
	font-size: 13px;
	vertical-align: middle;
}

.products-description .qty select {
	margin-left: 30px;
}

.products-description .button_group {
	float: right;
}

/** tab style **/
.tab-box {
	position: relative;
	min-height: 250px;
	width: 100%;
	float: left;
	margin-top: 15px;
}

#tabnav {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

#tabnav ul {
	position: relative;
}

#tabnav ul li {
	float: left;
	display: inline-block;
	margin-right: 10px;
}

#tabnav ul li:last-child {
	margin-right: 0;
}

#tabnav ul li a {
	display: block;
	padding: 15px 20px;
	font-size: 18px;
	border: 1px solid #cccccc;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	position: relative;
}

#tabnav ul li a:hover, #tabnav ul li.active a {
	position: relative;
	background: #f5a742;
	color: #fff;
	border: 1px solid #f5a742;
}

#tabnav ul li a:hover:after, #tabnav ul li.active a:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(247, 84, 74, 0);
	border-top-color: #f5a742;
	border-width: 10px;
	margin-left: -10px;
}

/* CONTENT */
.tab-content-wrap {
	float: left;
	width: 100%;
}

.tab-content {
	position: relative;
	padding: 15px 0;
	border: 1px solid #E1E1E1;
	border-radius: 10px;
	display: block;
	margin: 15px 0;
	padding: 25px;
}

.tab-content h3 {
	margin-bottom: 15px;
}

.review {
	position: relative;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.review .rating {
	float: right;
}

.review h5 {
	padding-bottom: 5px;
}

.review:last-child {
	border: none;
}

/**************************************/
#Reviews table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	border: 1px solid #e1e1e1;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 30px;
}

#Reviews table th, #Reviews table td {
	border-left: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
	padding: 15px;
	text-align: center;
}

#Reviews table thead tr:first-child th {
	border-top: none;
}

#Reviews table td:first-child, #Reviews table th:first-child {
	border-left: none;
}

.form-row {
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
	width: 100%;
}

#Reviews .input {
	width: 100%;
	padding: 10px;
}

#Reviews .lebel-abs {
	left: 20px;
	position: absolute;
	top: 15px;
}

#Reviews .button {
	float: right;
}

#Reviews .namefild, #Reviews .emailfild {
	padding-left: 100px;
}

#Reviews .emailfild {
	padding-left: 100px;
}

#Reviews .summeryfild {
	padding-left: 160px;
}

#Reviews .textareafild {
	padding-top: 30px;
}

/* TAGS*/
.tag {}

.tag input[type="text"] {
	position: relative;
	margin: 0 15px;
	border: 1px solid #E1E1E1;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 10px;
}

.tag input[type="submit"] {
	position: relative;
	border: 1px solid #E1E1E1;
	background: #f5a742;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 10px;
	color: #fff;
}

.tag input[type="submit"]:hover {
	border: 1px solid #303030;
	background: #303030;
}

/*Shopping cart table style*/
.shopping-cart {}

.shopping-cart button:hover {
	background: #f5a742;
	color: #fff;
}

.shop-table {
	position: relative;
	width: 100%;
	border-collapse: separate;
}

.shop-table th {
	font-size: 16px;
	padding: 5px;
	text-align: center;
}

.shop-table tbody td {
	text-align: center;
	border: 1px solid #E1E1E1;
	vertical-align: middle;
	padding: 10px;
	border-left: none;
}

.shop-table tbody tr td:first-child {
	border-left: 1px solid #E1E1E1;
	-webkit-border-radius: 10px 0 0 10px;
	border-radius: 10px 0 0 10px;
}

.shop-table tbody tr td:last-child {
	-webkit-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
}

.shop-table tr {
	width: 100%;
	display: table;
	margin-bottom: 15px;
}

.shop-table th:first-child, .shop-table td:first-child {
	width: 15%;
}

.shop-table th:nth-child(2), .shop-table td:nth-child(2) {
	width: 45%;
}

.shop-table th:nth-child(3), .shop-table td:nth-child(3), .shop-table th:nth-child(4), .shop-table td:nth-child(4), .shop-table th:nth-child(5), .shop-table td:nth-child(5), .shop-table th:nth-child(6), .shop-table td:nth-child(6) {
	width: 10%;
}

.shop-table img {
	max-height: 130px;
}

.shop-details {
	position: relative;
	text-align: left;
	padding: 0 10px;
}

.shop-details .productname {
	text-align: left;
	font-weight: 400;
}

.shop-details .color-choser {
	position: relative;
}

.shop-details .text {
	float: left;
	padding: 2px 15px 5px 0;
}

.shop-details .color-choser li {
	display: inline-block;
	margin: 0 5px 5px 0;
}

.shop-details .color-choser li a {
	float: left;
	width: 16px;
	height: 16px;
	font-size: 0;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.pcode {
	padding-left: 15px;
	color: #f5a742;
}

.shippingbox {
	margin: 15px 0;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #E1E1E1;
	padding: 30px;
	float: left;
	width: 100%;
}

.shippingbox h5 {
	margin-bottom: 20px;
}

.shippingbox label {
	position: relative;
	margin-bottom: 8px;
	width: 100%;
}

.shippingbox select, .shippingbox input {
	margin-bottom: 20px;
	margin-left: 0;
	width: 100%;
}

.subtotal, .grandtotal {
	float: left;
	position: relative;
	width: 100%;
}

.subtotal h5 {
	float: left;
	width: 45%;
	text-align: right;
	font-weight: 400;
}

.subtotal span {
	float: right;
	width: 45%;
	font-weight: 500;
	font-size: 20px;
}

.grandtotal h5 {
	float: left;
	width: 45%;
	text-align: right;
	font-weight: 400;
	font-size: 20px;
}

.grandtotal span {
	float: right;
	width: 45%;
	font-weight: 500;
	font-size: 25px;
	color: #fe5252;
}

/* checkout page sytle */
.checkout-page {
	float: left;
	width: 100%;
	position: relative;
	clear: both;
}

.checkout-steps {
	position: relative;
	width: 100%;
	float: left;
}

.checkout-steps .steps {
	float: left;
	width: 100%;
	border: 1px solid #cccccc;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.checkout-steps .step-title {
	float: left;
	width: 100%;
	padding: 15px 25px;
	font-size: 14px;
	margin: 0;
	background: url(../images/down-arow-2.png) right 25px top 22px no-repeat;
	text-transform: uppercase;
	font-weight: 400;
	cursor: pointer;
}

.checkout-steps .active .step-title {
	background: url(../images/up-arow.png) right 25px top 22px no-repeat;
}

.checkout-steps .disable .step-title {
	cursor: default;
}

.step-description {
	float: left;
	width: 100%;
	border-top: 1px solid #cccccc;
	padding: 30px;
}

.input-radio {
	float: left;
	position: relative;
	display: inline-block;
	padding-right: 10px;
}

.step-description h5 {
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 20px;
}

.new-customer label {
	float: left;
	width: 100%;
	display: block;
	margin-bottom: 5px;
}

.new-customer label .text {
	float: left;
	padding-top: 2px;
}

.new-customer p.requir {
	float: left;
	padding: 25px 0 30px 0;
}

.form-row .input[type="text"], .form-row .input[type="email"], .form-row .input[type="password"], .form-row .input[type="tel"], .form-row .input[type="number"] {
	width: 100%;
	padding: 10px 10px 10px 100px;
}

.form-row .input[type="password"] {
	padding-left: 120px;
}

.form-row .input[type="password"].cpass {
	padding-left: 160px;
}

.form-row .lebel-abs {
	left: 20px;
	position: absolute;
	top: 12px;
}

.forgoten {
	padding: 10px 0 25px 0;
	text-align: right;
}

.pass-wrap {
	clear: both;
	padding: 10px 0 30px 0;
}

.privacy {
	padding: 10px 0;
}

/*Contact us page style */
.contact-title {
	font-weight: 400;
	font-size: 20px;
}

.map iframe {
	float: left;
	width: 100%;
}

.map iframe {
	float: left;
	width: 100%;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	overflow: hidden;
	margin: 15px 0;
	-webkit-box-shadow: inset 0 0 20px 5px #949494;
	box-shadow: inset 0 0 20px 5px #949494;
}

.contact-infoormation, .ContactForm {
	border: 1px solid #E1E1E1;
	border-radius: 10px;
	float: left;
	margin: 15px 0;
	padding: 30px;
	width: 100%;
}

.contact-infoormation h5, .ContactForm h5 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 30px;
}

.contact-infoormation p {
	font-size: 13px;
	color: #434343;
	line-height: 22px;
	text-align: justify;
}

.contact-infoormation ul {
	float: left;
	width: 100%;
	padding-top: 20px;
	position: relative;
}

.contact-infoormation ul li {
	display: list-item;
	margin-top: 5px;
}

.contact-infoormation ul li p {
	line-height: 18px;
}

.contact-infoormation .icon {
	float: left;
	width: 30px;
	height: 30px;
	padding: 5px;
	border: 1px solid #cccccc;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	text-align: center;
	vertical-align: middle;
	margin: 5px 10px 10px 0;
}

.ContactForm label {
	position: relative;
	display: block;
	margin-bottom: 8px;
}

.ContactForm .inputfild {
	width: 100%;
	margin-bottom: 22px;
}

/*! responsive style !*/
/* box resize*/
@media (min-width: 768px) {
	.boxwrap {
		width: 768px;
	}

	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.boxwrap {
		width: 992px;
	}

	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.boxwrap {
		width: 1200px;
	}

	.container {
		width: 1170px;
	}
}

/* box resize close */
@media (min-width: 1200px) {}

@media (min-width: 992px) and (max-width: 1199px) {
	.nav li a {
		font-size: 13px;
		padding: 6px 10px;
	}

	.button, button {
		padding: 8px 10px;
	}

	.thum-image .control-right {
		right: -10px;
	}

	.thum-image .control-left {
		left: -10px;
	}

	.products-description .qty {
		margin-bottom: 15px;
	}

	/*home slider */
	#sequence {
		height: 490px;
	}

	.flat-image img {
		max-width: 380px;
	}

	.caption1, .caption2, .caption3, .caption4, .caption5 {
		width: 60%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.logo {
		width: 100%;
	}

	.nav>li>a {
		font-size: 12px;
		padding: 5px 7.7px;
	}

	.option {
		margin-top: 20px;
	}

	.navbar-collapse {
		padding-top: 5px;
	}

	/*home slider */
	#sequence {
		height: 400px;
	}

	.caption1, .caption2, .caption3, .caption4, .caption5 {
		width: 60%;
	}

	.flat-image img {
		max-width: 300px;
	}

	.flat-caption .suphead {
		font-size: 18px;
	}

	.flat-caption h1 {
		font-size: 32px;
		line-height: 35px;
	}

	.flat-caption h2 {
		font-size: 16px;
		line-height: 18px;
	}

	.flat-caption p {
		font-size: 12px;
		max-width: 400px;
	}

	.caption2 {
		top: 21%;
	}

	.caption3 {
		top: 32%;
	}

	.caption4 {
		top: 47%;
	}
}

@media (max-width: 991px) {
	.hom-slider .flexslider .slides img {
		max-height: 450px;
	}

	.slide-caption {
		margin-top: 60px;
	}

	.slide-caption .suphead {
		font-size: 18px;
	}

	.slide-caption h1 {
		font-size: 24px;
		line-height: 24px;
	}

	.slide-caption p {
		font-size: 12px;
	}

	.flex-control-nav {
		top: 320px;
	}

	.footer-logo {
		padding-top: 0;
	}

	.products-description .qty {
		margin-bottom: 15px;
	}
}

@media (max-width: 767px) {
	.navbar-collapse {
		margin: 0;
		padding: 0;
		float: none;
	}

	.navbar-nav {
		margin: 0;
		padding: 0;
	}

	.nav>li {
		display: block;
		position: relative;
		float: none;
	}

	.navbar-nav .open .dropdown-menu {
		background-color: rgba(255, 255, 255, 0.9);
		padding: 10px 20px;
	}

	.header_top {
		float: right;
		position: relative;
		width: 70%;
	}

	.option {
		margin-top: 15px;
	}

	.navbar-header {
		position: relative;
	}

	.navbar-toggle {
		background-color: rgba(255, 255, 255, 0.1);
		-webkit-border-radius: 5px;
		border-radius: 5px;
		margin-top: 15px;
	}

	.flex-control-nav {
		top: 280px;
	}

	.caroufredsel_wrapper .row {
		padding-right: 1px;
	}

	.products-description {
		float: left;
		width: 100%;
		margin: 15px 0 15px 0;
	}

	/*home slider */
	#sequence {
		height: 350px;
	}

	.caption1, .caption2, .caption3, .caption4, .caption5 {
		left: 5%;
		width: 62%;
	}

	.flat-image img {
		max-width: 260px;
	}

	.flat-caption .suphead {
		font-size: 14px;
	}

	.flat-caption h1 {
		font-size: 24px;
		line-height: 30px;
	}

	.flat-caption h2 {
		font-size: 12px;
		line-height: 18px;
	}

	.flat-caption p {
		font-size: 10px;
		line-height: 14px;
	}

	.caption2 {
		top: 23%;
	}

	.caption3 {
		top: 33%;
	}

	.caption4 {
		top: 49%;
	}

	#sequence>.sequence-prev, #sequence>.sequence-next {
		font-size: 24px;
		height: 30px;
		width: 30px;
		margin-top: -15px;
		text-align: center;
		line-height: 28px;
	}

	#sequence>.sequence-prev {
		left: 0;
	}

	#sequence>.sequence-next {
		right: 0;
	}
}

@media (max-width: 640px) {
	.navbar-toggle, .option {
		margin-top: 20px;
	}

	.slide-caption {
		margin-top: 40px;
	}

	.flex-control-nav {
		top: 230px;
	}

	.slide-caption .suphead {
		font-size: 12px;
	}

	.slide-caption h1 {
		font-size: 18px;
		margin-bottom: 10px;
	}

	#homeslide3 .slide-caption, #homeslide2 .slide-caption {
		top: 15%;
	}

	#homeslide3 .flexslider .slides img {
		max-height: 370px;
	}

	.slide-caption p {
		visibility: hidden;
		display: none;
	}
}

@media (max-width: 480px) {
	#homeslide3 .flexslider .slides img {
		max-height: 320px;
	}

	.flex-control-nav {
		top: 62%;
	}

	#homeslide3 .flex-control-nav {
		top: 210px;
	}

	.topmenu li {
		margin-bottom: 5px;
		margin-right: 0;
		padding-left: 5px;
		padding-right: 5px;
	}

	.topmenu li a {
		font-size: 11px;
	}

	.navbar-toggle, .option {
		margin-top: 20px;
	}

	.hot-products .caroufredsel_wrapper, .featured-products .caroufredsel_wrapper {
		min-height: 1650px;
	}

	#productsDetails .caroufredsel_wrapper {
		min-height: 1245px;
	}

	.banner {
		height: auto;
	}

	#tabnav ul li a {
		padding: 10px 15px;
	}

	#braldLogo li {
		text-align: center;
	}

	#braldLogo .brand_item li {
		margin-right: 3%;
		margin-bottom: 3%;
		width: 47%;
		float: none;
		display: inline-block;
		text-align: center;
	}

	#braldLogo .brand_item li:nth-child(2), #braldLogo .brand_item li:nth-child(4) {
		margin-right: 0;
	}

	.our-brand .caroufredsel_wrapper {
		min-height: 300px;
		max-height: 300px;
	}

	.sorter {
		width: 100%;
		padding-bottom: 5px;
		text-align: center;
	}

	.view-mode, .sort-by, .limiter {
		display: inline-block;
		float: none;
		width: auto;
	}

	.pager {
		width: 100%;
		text-align: center;
		padding-top: 10px;
	}

	.pager a {
		float: none;
		display: inline-block;
	}

	.products-listItem .thumbnail {
		float: none;
		width: auto;
	}

	.product-list-description {
		width: auto;
	}

	.list_bottom {
		position: relative;
		width: 100%;
	}

	.product-list-description .price, .list_bottom .button_group {
		width: 100%;
		text-align: center;
	}

	.product-list-description .new_price, .product-list-description .old_price {
		float: none;
	}

	.product-list-description .button {
		margin-bottom: 10px;
	}

	.products-description .button_group {
		float: left;
		margin-top: 10px;
	}

	/*shop table */
	.shop-table thead {
		display: none;
	}

	.shop-table tr {
		float: left;
		width: 100%;
		border: 1px solid #E1E1E1;
		border-radius: 10px;
	}

	.shop-table td {
		float: right;
		width: 100% !important;
		border: none !important;
		border-bottom: 1px solid #E1E1E1 !important;
		position: relative;
		white-space: nowrap;
	}

	.shop-table td:last-child {
		border-bottom: none !important;
	}

	.shop-table tfoot tr {
		border: none;
	}

	.shop-table .productname {
		float: none;
	}

	.shop-table tfoot button.pull-left, .shop-table tfoot button.pull-right {
		margin: 5px 0;
		font-size: 12px;
		padding: 10px;
	}

	/*checkout page style */
	.new-customer {
		margin-bottom: 30px;
	}

	.new-customer label .text {
		float: none;
	}

	/*home slider */
	#sequence {
		height: 300px;
	}

	.flat-image img {
		display: none;
	}

	.caption1, .caption2, .caption3, .caption4, .caption5 {
		left: 5%;
		width: 90%;
	}

	.flat-caption .suphead {
		font-size: 13px;
	}

	.flat-caption h1 {
		font-size: 18px;
		line-height: 20px;
	}

	.flat-caption h2 {
		font-size: 11px;
		;
	}

	.caption2 {
		top: 23%;
	}

	.caption3 {
		top: 32%;
	}

	.caption4 {
		top: 52%;
	}

	.caption5 {
		top: 52%;
	}
}

@media (max-width: 384px) {
	.flex-control-nav {
		top: 72%;
	}

	.logo, .header_top, .option_nav {
		float: none;
		width: 100%;
		text-align: center;
		padding-bottom: 0;
	}

	.option {
		width: 53%;
	}

	.option-cart-item {
		right: -40px;
	}

	.search-input {
		right: -80px;
	}

	.option_nav li {
		float: none;
	}

	.option_nav li ul li a {
		margin-bottom: 5px;
	}

	.topmenu, .usermenu {
		width: 100%;
		text-align: center;
	}

	.topmenu li, .usermenu li {
		float: none;
		display: inline-block;
	}

	.topmenu li {
		padding-left: 4px;
		padding-right: 4px;
	}

	.topmenu li a {
		font-size: 10px;
	}

	.slide-caption {
		position: absolute;
		width: 100%;
		background: rgba(0, 0, 0, 0.3);
		padding: 10px;
		border-radius: 10px;
		-webkit-border-radius: 10px;
	}

	#homeslide3 .slide-caption {
		top: 35px;
	}

	.slide-caption .more {
		display: inline-block;
	}

	.flexslider .slides img {
		max-width: 80%;
		max-height: 280px;
	}

	#homeslide2 .slide-caption, #homeslide3 .slide-caption {
		width: 90%;
	}

	.products-description .price .new_price {
		font-size: 24px;
		margin-left: 10px;
	}

	.products-description .old_price {
		font-size: 16px;
		margin-left: 10px;
	}

	.products-description .button {
		margin: 5px 0;
	}

	.products-description .qty {
		margin-bottom: 5px;
	}

	#tabnav ul li a {
		padding: 5px 8px;
		font-size: 12px;
	}

	#tabnav ul li {
		margin-right: 5px;
	}

	#Reviews table th, #Reviews table td {
		padding: 5px;
	}

	.tag input[type="text"] {
		margin: 10px 0 10px 0;
	}

	.limiter {
		margin-top: 15px;
	}

	.thum-image .control-right {
		right: -12px;
	}

	.thum-image .control-left {
		left: -12px;
	}

	.products-description .button_group {
		text-align: center;
	}

	/*home slider */
	.preview_image {
		width: 100%;
		overflow: hidden;
	}

	.zoomLens, .zoomContainer {
		display: none !important;
	}
}

@media (max-width: 320px) {
	.caption5 {
		top: 54%;
	}

	.caption4 {
		top: 58%;
	}

	.caption5 {
		top: 56%;
	}

	.our-brand .caroufredsel_wrapper {
		min-height: 220px;
		max-height: 240px;
	}
}

@media (max-width: 260px) {
	.caption1 {
		top: 10%;
	}

	.caption2 {
		top: 20%;
	}

	.caption3 {
		top: 35%;
	}

	.caption4, .caption5 {
		top: 63%;
	}

	/* Shopping page */
	.shop-table .productname {
		font-size: 12px;
	}

	.shop-details .text {
		padding-right: 10px;
	}

	.shop-table tfoot button.pull-right {
		float: left !important;
	}

	.subtotal span, .grandtotal span, .subtotal h5, .grandtotal h5 {
		float: noe;
		width: 100%;
		text-align: center;
		margin: 5px 0;
	}

	.subtotal span, .grandtotal span {
		margin-bottom: 20px;
	}
}

#home .rs-input:focus, .rs-input:hover {
	border-color: #f5a742 !important;
	outline: 0;
}

#home .rs-picker-default:not(.rs-picker-disabled) .rs-btn:hover, .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:hover, .rs-picker-default:not(.rs-picker-disabled) .rs-btn.active, .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle.active {
	border-color: #f5a742 !important;
}

#home .rs-picker-toggle-placeholder {
	font-size: 14px;
}

#home .rs-picker-menu .rs-picker-search-bar .rs-picker-search-bar-input:focus, .rs-picker-menu .rs-picker-search-bar .rs-picker-search-bar-input:hover {
	border-color: #f5a742 !important;
	outline: 0;
}

#home .rs-picker-has-value .rs-btn .rs-picker-toggle-value, .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
	color: #575757 !important;
	font-size: 14px;
}

#home .rs-input-group:not(.rs-input-group-inside):not(.rs-input-group-disabled):hover, .rs-input-group:not(.rs-input-group-inside):not(.rs-input-group-disabled).rs-input-group-focus {
	border-color: #f5a742 !important;
}

/*
.word {
  opacity: 1;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
} */
/* animate */
.ec-animate h1 {
	cursor: default;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100px;
	margin: auto;
	display: block;
	text-align: center;
}

.ec-animate h1 span {
	position: relative;
	top: 20px;
	display: inline-block;
	-webkit-animation: bounce 0.3s ease infinite alternate;
	font-size: 80px;
	color: #fff;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
		0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
		0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

.ec-animate h1 span:nth-child(2) {
	-webkit-animation-delay: 0.1s;
}

.ec-animate h1 span:nth-child(3) {
	-webkit-animation-delay: 0.2s;
}

.ec-animate h1 span:nth-child(4) {
	-webkit-animation-delay: 0.3s;
}

.ec-animate h1 span:nth-child(5) {
	-webkit-animation-delay: 0.4s;
}

.ec-animate h1 span:nth-child(6) {
	-webkit-animation-delay: 0.5s;
}

.ec-animate h1 span:nth-child(7) {
	-webkit-animation-delay: 0.6s;
}

.ec-animate h1 span:nth-child(8) {
	-webkit-animation-delay: 0.2s;
}

.ec-animate h1 span:nth-child(9) {
	-webkit-animation-delay: 0.3s;
}

.ec-animate h1 span:nth-child(10) {
	-webkit-animation-delay: 0.4s;
}

.ec-animate h1 span:nth-child(11) {
	-webkit-animation-delay: 0.5s;
}

.ec-animate h1 span:nth-child(12) {
	-webkit-animation-delay: 0.6s;
}

.ec-animate h1 span:nth-child(13) {
	-webkit-animation-delay: 0.7s;
}

.ec-animate h1 span:nth-child(14) {
	-webkit-animation-delay: 0.8s;
}

/* ANIMATION */
@-webkit-keyframes bounce {
	100% {
		top: -20px;
		text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
			0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
			0 50px 25px rgba(0, 0, 0, 0.2);
	}
}

/* animate */
/*Chat*/
.ec-chat .sc-launcher {
	z-index: 10 !important;
	background-color: #f5a742 !important
}

.ec-chat .sc-chat-window {
	height: calc(100% - 170px) !important;
	z-index: 10 !important;
}

.ec-chat .sc-header {
	background-color: #f5a742 !important
}

/*Chat*/
.header-profile {
	min-height: 300px;
	background-size: contain;
	background-position: center top;
}

.mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}

.opacity-8 {
	opacity: .8 !important;
}

.bg-gradient-default {
	background: linear-gradient(87deg, #121212 0, #9e9db1 100%) !important
}

.profile-round {
	width: 100px;
	height: 100px;
	border: 4px solid #fff;
	margin-top: -50px;
	border-radius: 50%;
	overflow: hidden;
	z-index: 2;
	bottom: 15px;
	left: 15px;
	box-sizing: content-box;
	background-size: 100% 100%;
	background-position: 50%;
	background-repeat: no-repeat;
}

.profile-round-camera {
	width: 30px;
	height: 30px;
	border: 4px solid #fff;
	margin-top: -70px;
	border-radius: 50%;
	overflow: hidden;
	z-index: 3;
	bottom: 15px;
	left: 15px;
	box-sizing: content-box;
	align-items: center;
	justify-content: center;
	display: flex;
	position: absolute;
	background-color: black;
	top: 20%;
	left: 54%;
}

.column-cell {
	flex-direction: column;
	display: flex;
}

.form-text-lable {
	color: #525f7f;
	font-size: 0.875rem;
	font-weight: 600;
}
